<ion-header>
  <ion-toolbar>
    <ion-title>
      Send a Mail
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding [fullscreen]="true" (tap)="tapEvent()">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="base-div" (swipe)="changeTab($event)">
    <ion-list lines="full">
      <form>
        <ion-item> 
          <ion-label>
            <ion-text>
              <h3><strong>From</strong></h3>
            </ion-text>
            <p>{{ username }}</p>
          </ion-label> 
        </ion-item>
        
        <ion-item lines="full">
          <ion-label>
            <ion-text>
              <h3><strong>To</strong></h3>
            </ion-text>
            <p>{{ to }}</p>
          </ion-label> 
        </ion-item>
        <ion-item lines="full">
          <ion-label>
            <ion-text>
              <h3><strong>Subject</strong></h3>
            </ion-text>
            <p>{{ subject }}</p>
          </ion-label> 
        </ion-item>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h3><strong>Body</strong></h3>
            </ion-text>
            <p>{{ body }}</p>
          </ion-label> 
        </ion-item>
      </form>
    </ion-list>
    <ion-button expand="full" color="danger">Send Mail</ion-button>
  </div> 
</ion-content>